<html>
	<head>
		<title> marysias blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Django Girls Blog!</a></h1>
		</div>

		<div>

		<p>published: 26.08.18</p>
		<h2><a href=""> my first post </a></h2>
		<p>It works!It works!It works!It works!It works!It works!It works!It works!It works!It works!</p>
		</div>

		<div>

		<p>published: 26.08.18</p>
		<h2><a href=""> my second post </a></h2>
		<p>It works!It works!It works!It works!It works!It works!It works!It works!It works!IT GODDAMN WORKS!!!</p>
		</div>

	</body>
</html>